<div>
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="data"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
    <div *ngIf="lastDataPoint">
      <p>Last Time: {{ lastDataPoint.time }}</p>
      <p>Last Value: {{ formattedValue }}</p>
    </div>
    <button (click)="download()">Download CSV</button>
  </div>
  